#load_order {
	width: 100%;
	height: 16fr;
}

#esp-staging {
	width: 100%;
	height: 16fr;

	.uninstalled-esp {
		width: 5fr;
		height: 1fr;
	}
	
	.installed-esp {
		width: 5fr;
		height: 1fr;
	}
}

#status-bar {
	height: 0.5fr;
	
	.un-install {
		height: 1fr;
		text-style: italic;
	}

	.install {
		height: 1fr;
		text-style: italic;
	}
}


